<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Insert title here</title>
  <link th:href="@{/css/reset.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/top.css}" rel="stylesheet" type="text/css">
</head>
<body>
  <div th:replace="~{component/header::header-component}"></div>
  <div class = "container-top">
    <h1 id = "title">Recipe Site</h1>
    <p class = "title-sentence">このサイトは手作りの料理を投稿・閲覧できるサイトです。</p>
    <p class = "title-sentence">みなさんお気に入りの料理の投稿をお待ちしております。</p>
    <div class = "container-top-btn">
      <a th:href="@{/signup}" class = "btn reg">新規登録</a>
      <a th:href="@{/login}" class = "btn login">ログイン</a>
    </div>
  </div>
  <div th:replace="~{component/footer::footer-component}"></div>
</body>
</html>